body {
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: auto;
    padding: 20px;
    width: 90%;
    max-width: 800px;
}

h1, h2 {
    color: #444;
    margin-bottom: 10px;
}

.form-section {
    margin-bottom: 20px;
}

.form-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-section input, .form-section select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.btn-primary, .btn-secondary {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    display: block;
}

.btn-secondary {
    background-color: #4CAF50;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #8fbd9e;
}

h1, h2, h3{
    color: #444;
}

.audio-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.audio-table {
    background-color: #e9e9e9;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.audio-table div {
    margin-bottom: 5px;
}

.audio-player {
    width: auto;
    margin-right: 10px;
}

.audio-name {
    font-weight: bold;
    margin-left: 10px;
}
