body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center; /* Center-aligning the main content */
}

#mainContent {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 800px; /* Max width for large screens, adjust as needed */
}

h1, h2, h3 {
    color: #444;
}

h2, h3 {
   text-align: left;
}

form {
    text-align: left;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    /* font-weight: bold; */
}

input[type="text"] {
    width: 100%; /* Full width to fill container */
    max-width: 300px; /* Maximum width to prevent it from being too wide */
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Ensures padding doesn't increase the width */
    display: block; /* Ensures the input field is treated as a block element */
}


button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button#record {
    background-color: #f44336;
}

button#upload {
    background-color: #2196F3;
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

audio {
    display: block;
    width: 100%;
    margin-top: 20px;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    #mainContent {
        width: 95%;
    }
}


.word-tooltip {
  text-decoration: underline;
  cursor: help;
}

.word-tooltip:hover::after {
  content: attr(data-translate);
  position: absolute;
  background: #f0f0f0;
  padding: 4px;
  border: 1px solid #ccc;
  z-index: 1;
}

#authorName, #storyText {
    text-align: left;
}


.radio-option {
    display: flex;
    align-items: center; 
    margin-bottom: 5px; 
}

.radio-option input[type="radio"] {
    margin-right: 5px; 
}

#recordForm {
    background-color: #f9f9f9; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
